// Flat base colors
$color-base-white: #fffefe;
$color-base-light-blue: #6699ff;
$color-base-medium-blue: #3366cc;
$color-base-dark-blue: #1e407c;
$color-base-gray: #535353;
$color-base-light-gray: #c7c7c7;

// Text colors
