.preloader {
    @extend %center;
    @extend %cover;
    background: $color-base-white;
}

.preloader-title {
    font-size: 16px;
    font-weight: 500;
    color: $color-base-gray;
    // letter-spacing: 2px;
    // text-transform: uppercase;
    // @include media("<=tablet") {
    //     font-size: 70px;
    // }
}

.preloader-wrapper {
    @extend %center;
}

.preloader-progress {
    @extend %center;
    flex-direction: column;
    position: absolute;
    bottom: 20%;
}

.progress-wrapper {
    @extend %center;
    position: relative;
}

.preloader-percentage1 {
    text-align: right;
}

.symbol {
    position: absolute;
    right: -11px;
}

.percent {
    width: 16px;
    font-weight: 500;
    font-size: 16px;
    color: $color-base-gray;
    // @include media("<=tablet") {
    //     font-size: 70px;
    // }
}
