.preloader {
    @extend %center;
    @extend %cover;
    background: $color-base-dark-blue;
}

.preloader-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 256px;
    color: $color-base-white;
    // letter-spacing: 2px;
    // text-transform: uppercase;
    @include media("<=tablet") {
        font-size: 70px;
    }
}

.preloader-wrapper {
    @extend %center;
    flex-direction: column;
}

.preloader-progress {
    @extend %center;
}

.preloader-percentage1 {
    text-align: right;
}

.percent {
    width: 256px;
    font-weight: bold;
    font-size: 256px;
    color: $color-base-white;
    @include media("<=tablet") {
        font-size: 70px;
    }
}
