* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

.experience-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.experience {
    position: fixed;
    height: 100%;
    width: 100%;
}
