.experience-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    touch-action: none;
}

.experience {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
