.chat-box {
    position: absolute;
    bottom: 48px;
    left: 48px;
    width: 400px;
    height: 200px;
    background-color: $color-base-black-transparent;
    color: $color-base-white;
}

.chat-container {
    width: 400px;
    height: 200px;
    overflow-y: scroll;
}

.form {
    @extend %center;
    position: absolute;
    bottom: 0px;
    flex-direction: row;
}

#chat-message-button {
    @extend %center;
    width: 50px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: $color-base-white;
}

.input-wrapper {
    @extend %center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
