.joystick-area {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 0;
    background: $color-base-white-transparent;
    z-index: 40;
    border-radius: 50% 50%;
}

.mobile-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    z-index: 25;
}
