.preloader {
    @extend %center;
    @extend %cover;
    background: $color-base-white;
    z-index: 99999;
}

.preloader-title {
    font-size: 16px;
    font-weight: 500;
    color: $color-base-gray;
    // letter-spacing: 2px;
    // text-transform: uppercase;
    // @include media("<=tablet") {
    //     font-size: 70px;
    // }
}

.preloader-wrapper {
    @extend %center;
    flex-direction: column;
    gap: 48px;
}

.preloader-progress {
    @extend %center;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
}

.progress-wrapper {
    @extend %center;
    position: relative;
}

.preloader-wrapper {
    padding-bottom: 120px;
}

.preloader-percentage1 {
    text-align: right;
}

.symbol {
    position: absolute;
    right: -11px;
}

.percent {
    width: 16px;
    font-weight: 500;
    font-size: 16px;
    color: $color-base-gray;
    // @include media("<=tablet") {
    //     font-size: 70px;
    // }
}

.progress-bar-container {
    width: 300px;
    height: 2px;
    background-color: $color-base-light-gray;
    border-radius: 7px;
}

.progress-bar {
    width: 0%;
    height: 2px;
    background-color: $color-base-dark-blue;
    border-radius: 7px;
}
