%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%cover {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.hidden {
    display: none;
}
