// Flat base colors
$color-base-white: #fffefe;
$color-base-lightest-blue: #c2d6ff;
$color-base-light-blue: #6699ff;
$color-base-medium-blue: #3366cc;
$color-base-dark-blue: #1e407c;
$color-base-gray: #535353;
$color-base-light-gray: #c7c7c7;

$color-base-white-transparent: #fcfcfcbe;
$color-base-black-transparent: #303030be;
$color-base-black-semi-transparent: #303030ce;
$color-base-black-translucent: #303030fd;
// Text colors
